.navbar ul{
    list-style-type: none;
    background-color: rgb(246, 140, 168);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(90, 88, 89);
    text-decoration: none;
    padding: 20px;
    display: block;
}
.navbar a:hover{
   background-color: bisque;
}
.navbar li{
    float: left;
}

body{
    background-image: url(images/stripe.png);
}
.hello{
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#container1{
    border: 2px solid;
    background-color: beige;
    width: 350px ;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}
#container2{
    border: 2px solid;
    background-color: beige;
    width: 350px ;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#container3{
    border: 2px solid;
    background-color: beige;
    width: 350px ;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#container4{
    border: 2px solid;
    background-color: beige;
    width: 350px ;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#container5{
    border: 2px solid;
    background-color: beige;
    width: 350px ;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

#container6{
    border: 2px solid;
    background-color: beige;
    width: 350px ;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

#container7{
    border: 2px solid;
    background-color: beige;
    width: 350px ;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow: scroll;
}

.star{
    width: 50px ;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#Arm{
   font-size: larger;
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-color: rgba(255, 0, 115, 0.748);
}
.audio{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #171717;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: pink;

}

