

    
body{

    font-family: 'Quicksand', san-serif;
    background-image: url(images/box.png);
    color: rgb(251, 251, 78);
    margin: 10px;
    padding: 10px;

}
    
    .box{
        border: 2px solid black;
        background-color: #f7e1e1;
        padding: 10px;
        margin: 10px;
        height: auto;
        width: auto;
        }
     #box2{
        border: 2px solid black;
        background-color: #d1a8a8;
        padding: 10px;
        margin: 10px;
        height: auto;
        width: auto;
     }

        a:link{
            text-decoration: none;
            color: rgb(234, 234, 0);
        }
        a:visited{
            text-decoration: none;
            color: rgb(241, 4, 4);
        }
       
        a:hover{
            text-decoration: underline;
            color: rgb(246, 240, 243);
         transform: scale(1.05);
        }
        a:active{
            text-decoration: underline;
            color: rgb(93, 4, 4);
            font-size: large;
        }
        
     
    

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
    
    .cat-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    }
    .sweet{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .sweet1{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .audio{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background-color: pink;
}
.cake{
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; 
.welcome{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;  
}




