body{
    font-family: 'Quicksand', san-Serif;
    text-align: center;
    color: rgb(236, 232, 232);
    background-color: rgb(37, 36, 36);
    font-size: larger;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(246, 140, 168);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(90, 88, 89);
    text-decoration: none;
    padding: 20px;
    display: block;
}
.navbar a:hover{
   background-color: bisque;
}
.navbar li{
    float: left;
}
.main{
    width: 400px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.design1{
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.design2{
    width: 300px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.design3{
    width: 75px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.design4{
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.design4{
    width: 800px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#birth{
    font-family: Verdana;
    text-align: side;
    color: rgb(247, 248, 250);
    background-color: rgb(236, 54, 111);
    font-size: larger;
}
#birth2{
    font-family: Verdana;
    text-align: side;
    color: rgb(28, 32, 42);
    background-color: rgb(54, 203, 236);
    font-size: larger;
    padding: 15px;
}
#baby1{
    font-family: 'Times New Roman';
    text-align: side;
    color: rgb(245, 7, 7);
    background-color: rgb(250, 250, 250);
    font-size: larger;
    padding: 0px;
}
#halloween{
    font-family: Georgia;
    text-align: side;
    color: rgba(245, 7, 7, 0.91);
    background-color: rgb(61, 62, 62);
    font-size: larger;
    padding: 3px;
}
#what{
    font-family: arial;
    text-align: side;
    color: rgba(51, 7, 245, 0.91);
    background-color: rgb(98, 218, 5);
    font-size: larger;
    padding: 3px;
}
#achieve{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: side;
    color: rgba(245, 237, 7, 0.91);
    background-color: rgb(51, 5, 218);
    font-size: larger;
    padding: 3px;
}
    #kriz{
    font-family: Verdana;
    text-align: side;
    color: rgb(247, 248, 250);
    background-color: rgb(235, 73, 124);
    font-size: larger;
    }

