body{
    font-family: 'Quicksand', san-Serif;
    text-align: center;
    color: rgb(232, 142, 157);
    background-color: rgb(251, 237, 247);
}
.main{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 10%;
}
.design{
    width: 200px;
    height: 100px;
}
.design2{
    width: 100px;
    height: 100px;
}
.design3{
     width: 200px;
    height: autopx;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(246, 140, 168);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(85, 84, 85);
    text-decoration: none;
    padding: 20px;
    display: block;
}
.navbar a:hover{
   background-color: bisque;
}
.navbar li{
    float: left;

}
