
body{
   background-image:url("images/try.png");
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: larger;
   text-align: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;

}

h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(183, 4, 67);
    text-align: center;
}

#menu{
    border-style: outset;
    border-radius: 20px;
    border-width: 4px;
    border-color: rgb(183, 4, 67);
    font-family: 'Quicksand', san-Serif;
    text-align: center;
    font-size: larger;
    padding: 15px; 

}

    a:link{
            text-decoration: none;
            color: rgb(58, 58, 57);
        }
        a:visited{
            text-decoration: none;
            color: rgb(22, 22, 22);
        }
       
        a:hover{
            text-decoration: underline;
            color: rgb(251, 249, 250);
            transform: scale(1.05);
            font-size: larger;
        }
        a:active{
            text-decoration: underline;
            color: rgb(253, 233, 12);
            font-size: large;
        }
        


.gallery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: nowrap;
}
.bow{
    width: 700px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welcome{
    width: 500px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(244, 74, 119);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color:rgb(247, 247, 247);
    text-decoration: none;
    padding: 20px;
    display: block;
}
.navbar a:hover{
   background-color: bisque;
}
.navbar li{
    float: left;
}




